apiVersion: v1
kind: Secret
metadata:
  name: eddie-{{ minio_bucket_name }}
  namespace: argo-events
stringData:
  config.yaml: |
    irods_host: "data.cyverse.org"
    irods_port: 1247
    irods_user_name: "{{ cyverse_user }}"
    irods_zone_name: "iplant"
    irods_user_password: "{{ cyverse_pass }}"
  cyverse_user: "{{ cyverse_user }}"
  cyverse_pass: "{{ cyverse_pass }}"
  dvc_git_token: "{{ dvc_git_token }}"
  dvc_git_models_url: "{{ dvc_git_models_url }}"
  dvc_model_path: "{{ dvc_model_path }}"
  thingsboard_device_access_token: "{{ thingsboard_device_access_token }}"