apiVersion: v1
kind: Secret
metadata:
  name: gocmd-{{ minio_bucket_name }}
  namespace: argo-events
stringData:
  config.yaml: |
    irods_host: "data.cyverse.org"
    irods_port: 1247
    irods_user_name: "{{ cyverse_user }}"
    irods_zone_name: "iplant"
    irods_user_password: "{{ cyverse_pass }}"
