apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: minio-{{ minio_bucket_name }}
  namespace: argo-events
spec:
  template:
    serviceAccountName: operate-workflow-sa
  dependencies:
    - name: {{ minio_bucket_name }}-minio-dep
      eventSourceName: minio-{{ minio_bucket_name }}
      eventName: datacreated
  triggers:
    - template:
        name: minio-workflow-trigger
        k8s:
          operation: create
          source:
            resource:
              apiVersion: argoproj.io/v1alpha1
              kind: Workflow
              metadata:
                generateName: minio-{{ minio_bucket_name }}-wf-
              spec:
                entrypoint: eddie-dag
                volumeClaimTemplates:
                  - metadata:
                      name: outgoing-dir
                    spec:
                      accessModes:
                      - "ReadWriteOnce"
                      storageClassName: local-path
                      resources:
                        requests:
                          storage: 2Gi

                arguments:
                  parameters:
                    - name: inputfile
                artifactRepositoryRef:
                  configMap: repository-{{ minio_bucket_name }}
                  key: {{ minio_bucket_name}}
                volumes:
                  - name: eddie-config
                    secret:
                      secretName: eddie-{{ minio_bucket_name }}
                  - name: models-dir
                    hostPath:
                      path: {{ models_path }}
                      type: Directory
                templates:
                  # this is the dag
                  - name: eddie-dag
                    dag:
                      tasks:
                        - name: task-ultralytics
                          template: ultralytics
                        - name: task-gocmds
                          template: gocmd
                          dependencies: [task-ultralytics]
                        - name: task-slack-notify
                          template: slack
                          dependencies: [task-gocmds]
                        - name: task-iot-stream-data-manager-notify
                          template: iot-stream-data-manager
                          dependencies: [task-ultralytics]

                  # first, use ultralytics to process any new files
                  - name: ultralytics
                    inputs:
                      # parameters:
                      #   - name: inputfile
                      artifacts:
                        - name: {{ minio_bucket_name }}
                          path: "/opt/ultralytics/incoming/{{ '{{' }}workflow.parameters.inputfile{{ '}}' }}"
                          s3:
                            key: "{{ '{{' }}workflow.parameters.inputfile{{ '}}' }}"
                    container:
                      # image: registry.gitlab.com/stack0/edge-images/testing-app1:latest
                      image: {{ ULTRALYTICS_IMAGE }}
                      # args: ["yolo", "predict", "model=yolov8n.pt", "source='/opt/ultralytics/incoming/{{ '{{' }}workflow.parameters.inputfile{{ '}}' }}'"]
                      args: ["yolo", "predict", "model=/opt/models/{{ dvc_model_path }}", "source='/opt/ultralytics/incoming/{{ '{{' }}workflow.parameters.inputfile{{ '}}' }}'"]
                      volumeMounts:
                      - name: outgoing-dir
                        mountPath: /usr/src/ultralytics/runs
                      - name: models-dir
                        mountPath: /opt/models

                  # second, transfer any processed and resulting data
                  - name: gocmd
                    script:
                      image: {{ GOCMDS_IMAGE }}
                      command: [bash]
                      source: |
                        find /opt/ultralytics
                        gocmd -c /opt/gocmd/config.yaml put -f /usr/src/ultralytics/runs {{ cyverse_upload_dir }}
                      volumeMounts:
                      - name: outgoing-dir
                        mountPath: /usr/src/ultralytics/runs
                      - name: eddie-config
                        mountPath: /opt/gocmd/config.yaml
                        subPath: config.yaml
                        readOnly: true
                    retryStrategy:
                      limit: 3
                      retryPolicy: "Always"

                  # third, transfer any processed and resulting data
                  - name: slack
                    script:
                      image: {{ GOCMDS_IMAGE }}
                      command: [bash]
                      source: |
                        cd /usr/src/ultralytics
                        export SLACK_WEBHOOK_URL={{ slack_webhook }}
                        cat << EOF >msg.txt
                        {blocks: [{"type": "section","text": {"type": "mrkdwn","text": "The following files were processed from bucket {{ minio_bucket_name }}:\`\`\`
                        EOF
                        find runs -type f |sed -e 's/$/\\n/' >> msg.txt
                        echo '```"}}]}' >> msg.txt
                        cat msg.txt
                        curl -X POST -H 'Content-type: application/json' --data "@msg.txt" ${SLACK_WEBHOOK_URL}
                      volumeMounts:
                      - name: outgoing-dir
                        mountPath: /usr/src/ultralytics/runs

                  - name: iot-stream-data-manager
                    script:
                      image: {{ MQTT_CLIENTS_IMAGE }}
                      command: [sh]
                      source: |
                        mosquitto_pub -d -q 1 -h "{{ thingsboard_host }}" -p {{ thingsboard_mqtt_port }} -t "v1/devices/me/telemetry" -u "${ACCESS_TOKEN}" -m {"image_count":1}
                      env:
                      - name: ACCESS_TOKEN
                        valueFrom:
                          secretKeyRef:
                            name: eddie-{{ minio_bucket_name }}
                            key: thingsboard_device_access_token
                    retryStrategy:
                      limit: 3
                      retryPolicy: "Always"


          # The container args from the workflow are overridden by the s3 notification key
          parameters:
            - src:
                dependencyName: {{ minio_bucket_name }}-minio-dep
                dataKey: notification.0.s3.object.key
              dest: spec.arguments.parameters.0.value
      retryStrategy:
        steps: 3
