.terraform*
terraform.tfvars
terraform.tfstate*
ansible/hosts.yml
ansible/edge1.yaml
ansible/hosts.yaml
ansible/configs
ansible/private_ssh_key
gocmd
gocmd.yaml
config.sh
ansible/roles/eddie/templates/sensor.yaml
ansible/roles/traefik/templates/ingressroute.yaml
